@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800');


/* General Styles */
.html {
    height: 100%;
}

body {
    /* background: url('/media/home2.jpg') no-repeat center center fixed;
    background-size: cover; */
    height: calc(100vh - 164px);
    font-family:open sans;
    letter-spacing:0.4px;
    color:#777777;
}

h1, h2 ,h3 ,h4 ,h5 , h6 {
    font-family:montserrat;
    color:#2e2e2e;
}
p {
    font-family:open sans;
    color:#666666;
    line-height:26px;
    font-size:14px;
    letter-spacing:0.4px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

.flat-btn {
    border: 1px solid #ff2929;
    color: #ff2929;
    background-color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 16px 36px;
    margin: 0px 10px 10px 0px;
}

.flat-btn:hover,
.flat-btn:active,
.flat-btn:focus {
    background: #ff2929;
    color: #fff !important;
    border-color: #fff;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d; 
    clear: both;
}

.allauth-form-inner-content input {
    background: #f9f9f9 none repeat scroll 0 0;
    border: medium none;
    color: #a7a7a7;
    font-family: montserrat;
    font-weight: 500;
    padding: 21px;

}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
    background: #f9f9f9 none repeat scroll 0 0;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {

	border: 1px solid transparent;
    color: #fff;
    background-color: #ff2929;
    float: left;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 36px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
    background: #fff;
    color: #ff2929 !important;
    border-color: #ff2929;
}

.allauth-form-inner-content a {
    color: #ff2929; 
    
}
