{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                        {% if property.image_name %}
                        <a href="{{ property.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ property.image_name.url }}" alt="{{ property.short_description }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ property.short_description }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="property-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ property.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">&pound; {{ property.daily_price }} per day</p>
                    {% if property.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ property.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ property.short_description }}</p>
                    <p class="mt-3">{{ property.long_description }}</p>

                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_property' property.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_property' property.id %}">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <form class="form" action="{% url 'add_booking' property.id %}" method="POST">
        {% csrf_token %}
            <div class="control-group">
                <div class="group-title">Booking</div>
                <div class="group-container row">
                    <div class="input-daterange input-group" id="datepicker">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_start" class="requiredField">Check In</label>
                                <input type="text" class="form-control pick-date" name="book_start" id="id_start" required/>
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_start" class="requiredField">Check Out</label>
                                <input type="text" class="form-control pick-date" name="book_end" id="id_end" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-container row">
                    <button class="btn-submit book-now" type="submit" >Book Now</button>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>    
            </div>
        </form>
        </div></div>


    </div>


<script>
var user_booked =  [{{ booked|safe}}];

$('.input-daterange').datepicker({
    startDate: "today",
    datesDisabled: [{{ reserved|safe}}],
    todayHighlight: true,

    beforeShowDay: function (date) {

                calender_date = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+('0'+date.getDate()).slice(-2);
                var search_index = $.inArray(calender_date, user_booked);
                if (search_index > -1) {
                    
                    return {classes: 'highlighted-cal-dates', tooltip: 'Your Booking'};
                }

            }
});
</script>

{% endblock %}